<!-- USER PAGE -->
<%- include("../partials/header") %>

<img class="img-fluid img-thumbnail" src= "<%= user.avatar %>" alt=""> 
<h1 class="fw-light text-center text-lg-start mt-4 mb-0"> <%= user.name %></h1> <br>
<!-- ADD CONDITIONAL FOR EMPLTY PROFILE -->
<p class="text-center"> <%= artist.profile %> </p>
<div class="container">
<% user.favorites.forEach(function(artist) { %>
        <!-- top margin -->
        <hr class="mt-2 mb-5"> 
        <!-- tiles for the images.  -->
        <div class="row text-center text-lg-start">
            <h3 class="text center"> <%= artist.name %> </h3>
            <div class="col-lg-12 col-md-4 col-6">
                <a href="<%= `../artists/${artist._id}/`%>" class="text-center d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src= "<%= artist.image.url %>" alt=""> 
                </a>
            </div>
        </div>
<% }); %>
</div>


<%- include("../partials/footer") %>