<!-- releases gallery -->
<%- include("../partials/header") %>


<div class="accordion" id="profileAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#profileCollapse" aria-expanded="false" aria-controls="profileCollapse" style="transition: height 1.5s ease; background:#6A3C1A;color: white">
          Show Profile
        </button>
      </h2>
      <div id="profileCollapse" class="accordion-collapse collapse" aria-labelledby="profileHeading" data-bs-parent="#profileAccordion">
        <div class="accordion-body" style="color:black">
          <%= artist.profile %>
        </div>
      </div>
    </div>
</div>
    <% if (user) { %>
        <form action="/favorites/<%= artist._id %>" method="POST">
            <button button-type="submit" id="favorite-btn" >Add to favorites</button>
        </form>
    <% } %>
<% artist.releases.forEach(function(rel) { %>
        <!-- top margin -->
        <hr class="mt-2 mb-5"> 
        <!-- tiles for the images.  -->
        <div class="row text-center text-lg-start">
            <h3 class="text center"> <%= rel.title %> (<%= rel.year %>) </h3>
            <div class="col-lg-12 col-md-4 col-6">
                <a href="<%= `../releases/${rel._id}:${paramsId}/show` %>" class="text-center d-block mb-4 h-100">
                    <% if (rel.thumb) { %>
                        <img class="img-fluid img-thumbnail" src= "<%= rel.thumb %>" alt="">
                    <% } else { %>
                        <img id="placeholder-svg" class="img-fluid img-thumbnail" src= "/images/placeholder.svg" alt="">
                    <% } %>
                </a>
            </div>
        </div>
<% }); %>
</div>




<%- include("../partials/footer") %>